a.one:link{font-family:"Microsoft YaHei"}
a.one:link {color:#000000;text-decoration:none;font-family:Tahoma;}
a.one:visited {color:#000;text-decoration:none;}
a.one:hover {text-decoration:underline;}

a.two:link{font-family:"Microsoft YaHei"}
a.two:link {color:#000000;text-decoration:none;font-family:Tahoma;}
a.two:visited {color:#000;text-decoration:none;}
a.two:hover {text-decoration:underline;}

.show
{
	width: 600px;
	height: 300px;
	margin:40px;
	padding: 40px;
	border:3px solid CCFFFF;
	background-color: #ffffff;
	filter:alpha(opacity=60);
	opacity:0.6;
	position:relative;
	left:950px;
	font-weight:bold;
}

.diary
{
	width: 600px;
	height: 300px;
	margin:40px;
	padding: 40px;
	border:3px solid CCFFFF;
	background-color: #ffffff;
	filter:alpha(opacity=60);
	opacity:0.6;
	position:relative;
	left:950px;
	top: 20px;
	font-weight:bold;
}

.FirstDiaryClass
{
	width:1600px;
	height:700px;
	margin:60px;
	padding:50px;
	font-family:Tahoma;
	font-size:30px;
	background-color:#ffffff;
	filter:alpha(opacity=60);
	opacity:0.6;
}

.two
{
	top:50px;
	right:30px;
}